<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @load.name %>
</p>

<p>
  <strong>Caliber:</strong>
  <%= @load.caliber %>
</p>

<p>
  <strong>Primer:</strong>
  <%= @load.primer %>
</p>

<p>
  <strong>Bullet:</strong>
  <%= @load.bullet %>
</p>

<p>
  <strong>Powder:</strong>
  <%= @load.powder %>
</p>

<p>
  <strong>Charge:</strong>
  <%= @load.charge %>
</p>

<p>
  <strong>Trim:</strong>
  <%= @load.trim %>
</p>

<p>
  <strong>Oal:</strong>
  <%= @load.oal %>
</p>

<p>
  <strong>Velocity:</strong>
  <%= @load.velocity %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @load.notes %>
</p>

<p>
  <strong>Load date:</strong>
  <%= @load.load_date %>
</p>

<p>
  <strong>User:</strong>
  <%= @load.user_id %>
</p>

<%= link_to 'Edit', edit_load_path(@load) %> |
<%= link_to 'Back', loads_path %>
